<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <script type="text/javascript">
    // match方法：
    // g: 一次性返回所有完整匹配结果(没有，子匹配)...
    // 无g：只返回一次匹配(有，子匹配)，不记录位置，多次调用结果一致，不能while循环

    var test1 = "<div>{{name}}</div><div>{{if age == 1}}23{{/if}}</div><span>{{data.title}}";
    var test2 = "<div>{{name}}</div><div>{{if age == 1}}23{{/if}}</div><span>";
    var reg = /{{([^{}]*)}}/;
    var reg_g = /{{([^{}]*)}}/g;

    console.log('', test1.match(reg));
    console.log('', test1.match(reg));

    console.log('g', test1.match(reg_g));
    console.log('g', test1.match(reg_g));
    console.log('g', test1.match(reg_g));
    </script>
</body>

</html>
