<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <script type="text/template" id="tpl">
    <div>age is <%=age%></div>
    <ul>
    <%
    </ul>
    </script>
    <script>
    var fn = new Function('data', 
        "var r = []; r.push(data.age); \n for (var i = 0; i < data.list.length; i++) { \n r.push(data.list[i]); \n } \n return r.join(' ');");
    console.log(fn);
    console.log(fn({list:['fanlong', 'flyromance'], age: 123}));
    </script>
</body>
</html>