@import url('lib/');

.clearfix:before, .clearfix:after {
    display: block;
    content: ' ';
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

