<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <script src="../vue2.js"></script>
</head>
<body>
  <div id="example"></div>

<script>
// 1. 作为内部state
// var childNode = {
//   template: `
//     <div class='child'>
//       <div>
//         <span>子组件数据</span>
//         <input v-model="temp">
//       </div>
//       <p>{{temp}}</p>
//     </div>
//   `,
//   props: ['childMsg'],
//   data() {
//     return {
//       temp: this.childMsg
//     }
//   }
// }

// 2. 使用computed
// var childNode = {
//   template: `
//     <div class="child">
//       <div>
//         <span>子组件数据</span>
//         <input v-model="temp">
//       </div>
//       <p>{{temp}}</p>
//       <p>{{childMsg}}</p>
//     </div>
//   `,
//   props: {
//     childMsg: String,
//   },
//   computed: {
//     temp(){
//       return this.childMsg
//     }
//   },
// };

// 3. watch父组件的
var childNode = {
  template: `
    <div>
      <div>
        <span>子组件数据</span>
        <input v-model="temp" />
      </div>
      <p>{{temp}}</p>
    </div>
  `,
  props: ["childMsg"],
  data() {
    return {
      temp: this.childMsg
    }
  },
  watch: {
    childMsg() {
      this.temp = this.childMsg
    }
  }
}

var parentNode = {
  template: `
    <div class="parent">
      <div>
        <span>父组件数据</span>
        <input v-model="msg">
      </div>
      <p>{{msg}}</p>
      <child :child-msg="msg"></child>
    </div>
  `,
  components: {
    'child': childNode
  },
  data() {
    return {
      'msg':'match'
    }
  }
};

// 创建根实例
new Vue({
  el: '#example',
  template: '<parent />',
  components: {
    'parent': parentNode
  }
});

</script>
</body>
</html>