<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/common.css" type="text/css">
</head>

<body>
    <div id="page-index">
        <div class="body">
            <div class="layout-wrap">
                <div class="layout-main-wrap">
                    <div class="layout-main ml-600 mr-600">
                        <h2>ui组件</h2>
                        <ul>
                            <li><a href="/lazyload.html">scroll-lazyload-懒加载</a></li>
                            <li><a href="/datepick.html">slide-轮播图</a></li>
                            <li><a href="/datepick.html">popup-弹窗</a></li>
                            <li><a href="/datepick.html">form-valiation-表单验证</a></li>
                            <li><a href="/datepick.html">custom-scrollbar-自定义滚动条</a></li>
                            <li><a href="/datepick.html">scroll-fixed-滚动停止</a></li>
                            <li><a href="/datepick.html">suggest-智能提示</a></li>
                            <li><a href="/waterfall.html">waterfall-瀑布流</a></li>
                            <li><a href="/waterfall.html">fullpage-全屏滚动</a></li>
                            <li><a href="/datepick.html">datapick-日历选择器</a></li>
                            <li><a href="/datepick.html">comment-评论组件</a></li>
                            <li><a href="/datepick.html">websocket-聊天室</a></li>
                            <li><a href="/datepick.html">Notification-浏览器弹窗</a></li>
                        </ul>
                    </div>
                </div>
                <div class="layout-left ml--all w-600">
                    <h2>JavaScript-核心</h2>
                    <ul>
                        <li><a href="/">extend-扩展</a></li>
                        <li><a href="/">inherit-继承</a></li>
                        <li><a href="/">promise-异步</a></li>
                        <li><a href="/">queue-异步队列</a></li>
                        <li><a href="/">require</a></li>
                        <li><a href="/">spa-hash-pushState</a></li>
                        <li><a href="/">animate</a></li>
                        <li><a href="/">event</a></li>
                        <li><a href="/">ajax</a></li>
                        <li><a href="/">cookie</a></li>
                        <li><a href="/">jsonp</a></li>
                        <li><a href="/">storage</a></li>
                        <li><a href="/">monitor-打点统计</a></li>
                        <li><a href="/">storage</a></li>
                    </ul>
                </div>
                <div class="layout-right ml--600 w-600">
                    <h2>css</h2>
                    <ul>
                    	<li><a href="/">display position float line-heigth</a></li>
                    	<li><a href="/">双飞燕-圣杯布局</a></li>
						<li><a href="/">栅格</a></li>
						<li><a href="/">理解</a></li>
						<li><a href="">淘宝首页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
